.statusBar{
    background-color: #e7f5f5;
    margin-left: 84%;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    height: 125px;
    padding-right: 2px;
    padding-top: 2px;

}